{{ partial "header.html" . }}
<!--{{ partial "tag.html" }}-->
<main>
    <ul class="tags">
        <li><a href="javascript:void(0)" onclick="removeHash()">all</a></li>
        {{ range site.Taxonomies.tags }}
        <li><a href="#{{.Page.Title}}">{{ .Page.Title }}</a></li>
        {{ end }}
        <small class="post-count" title="projects count">
            {{ $nonDraftPosts := where .Site.RegularPages "Draft" "==" false }}
            {{ printf "%d" (len $nonDraftPosts) }}
        </small>
    </ul>
    <ul class="projects">
        {{ $pages := .Pages }} {{ if .IsHome }} {{ $pages = .Site.RegularPages
        }} {{ end }} {{ range (where $pages "Section" "!=" "").ByWeight }}
        <li
            class="project {{ if .Params.notable }}notable-border{{end}}"
            data-tags="{{ .Params.tags | jsonify }}"
        >
            {{ if .Params.notable }}
            <div class="notable">
                <small title="Projects that I think show my skills"
                    >notable</small
                >
            </div>
            {{end}}
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a
            ><span class="project-type">[{{ delimit .Params.tags ", " }}]</span>
            <hr />
            <p>{{ .Params.description }}</p>
            <ul class="tech-list">
                {{ range .Params.tech }}
                <li class="tech-item">
                    {{ . }}<!--</li>-->
                    {{end}}
                </li>
            </ul>
        </li>
        {{ end }}
    </ul>
</main>
{{ partial "footer.html" . }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Call the function on page load and when the hash changes
        setActiveLink(window.location.hash);
        updatePostCount();

        window.addEventListener("hashchange", function () {
            setActiveLink(window.location.hash);
            updatePostCount();
        });

        // Add is-active class to the "all" link on page load
        var allLinks = document.querySelectorAll(".tags a");
        allLinks.forEach(function (link) {
            if (link.textContent.trim().toLowerCase() === "all") {
                link.classList.add("is-active");
            }
        });
    });

    function updatePostCount() {
        // Count the number of visible projects
        var visibleProjects = document.querySelectorAll(
            ".projects li[data-tags][style='display: block;']",
        );
        var postCountElement = document.querySelector(".post-count");

        // Update the post count element
        if (postCountElement) {
            if (window.location.hash && visibleProjects) {
                // If there's a hash, update with the visible projects count
                postCountElement.textContent = visibleProjects.length;
            } else {
                // If no hash, update with the total number of projects
                var allProjects = document.querySelectorAll(
                    ".projects li[data-tags]",
                );
                postCountElement.textContent = allProjects.length;
            }
        }
    }

    function setActiveLink(hash) {
        updatePostCount();

        // Remove is-active class from all links in the .tags class
        var allLinks = document.querySelectorAll(".tags a");
        allLinks.forEach(function (link) {
            link.classList.remove("is-active");
        });

        if (typeof hash === "undefined") {
            // If no hash is passed, remove filtering and add is-active class to the "all" element
            var allProjects = document.querySelectorAll(
                ".projects li[data-tags]",
            );
            allProjects.forEach(function (project) {
                project.style.display = "block";
            });

            // Add is-active class to the "all" element
            var allLinks = document.querySelectorAll(".tags a");
            allLinks.forEach(function (link) {
                if (link.textContent.trim().toLowerCase() === "all") {
                    link.classList.add("is-active");
                }
            });
        } else {
            // If a hash is passed, apply highlighting and filtering
            var currentPath = hash.substr(1); // Get the path without the "#" symbol

            // Add is-active class to the link corresponding to the current path
            var activeLink = document.querySelector(
                '.tags a[href="#' + currentPath + '"]',
            );
            if (activeLink) {
                activeLink.classList.add("is-active");

                var allProjects = document.querySelectorAll(
                    ".projects li[data-tags]",
                );
                allProjects.forEach(function (project) {
                    var tagsString = project.getAttribute("data-tags");
                    var tagsArray = JSON.parse(tagsString);
                    if (tagsArray.includes(currentPath)) {
                        project.style.display = "block";
                    } else {
                        project.style.display = "none";
                    }
                });
            }
        }
    }

    function removeHash() {
        history.replaceState(
            null,
            document.title,
            window.location.pathname + window.location.search,
        );

        setActiveLink();
    }
</script>
