/* nord-colors.css */
:root {
    --nord-dark1: #2e3440;
    --nord-dark2: #3b4252;
    --nord-dark3: #434c5e;
    --nord-dark4: #4c566a;
    --nord-light1: #d8dee9;
    --nord-light2: #e5e9f0;
    --nord-light3: #eceff4;
    --nord-blue1: #8fbcbb;
    --nord-blue2: #88c0d0;
    --nord-blue3: #81a1c1;
    --nord-blue4: #5e81ac;
    --nord-red: #bf616a;
    --nord-orange: #d08770;
    --nord-yellow: #ebcb8b;
    --nord-green: #a3be8c;
    --nord-purple: #b48ead;
}

/* Light Theme (Nord) */
:root[data-theme="light"] {
    --background-color: var(--nord-light1);
    --text-color: var(--nord-dark1);
    --accent-color: var(--nord-blue4);
    --highlight-color: var(--nord-dark1);
    --shadow-color: var(--nord-dark4);
    --project-rgba: rgba(0, 0, 0, 0.1);
    --project-rgba: rgba(255, 255, 255, 0.35);
    --tech-color: var(--nord-red);
    --project-border: var(--nord-orange);
    --inline-code: var(--background-color);
    --inline-code-bg: var(--project-border);
}

/* Dark Theme (Nord) */
:root[data-theme="dark"] {
    --background-color: var(--nord-dark1);
    --text-color: var(--nord-light2);
    --accent-color: var(--nord-blue2);
    --highlight-color: var(--nord-light3);
    --shadow-color: var(--nord-light1);
    --project-rgba: rgba(0, 0, 0, 0.1);
    --tech-color: var(--nord-blue1);
    --project-border: var(--nord-green);
    --inline-code: var(--nord-yellow);
    --inline-code-bg: var(--nord-dark1);
}

* {
    box-sizing: border-box;
}
.site-title {
    text-align: center;
}

.notfound {
    text-align: center;
}

.is-active {
    color: var(--highlight-color);
    text-decoration: underline;
    text-shadow: 1px 1px 5px var(--shadow-color);
}

ul.projects {
    list-style: none;
    padding: 0 1rem;

    & .project-type {
        padding: 0;
        font-size: small;
    }
}

ul.projects li.project {
    position: relative;
    margin: 0.75rem 0;
    padding: 0.5rem;
    background-color: var(--project-rgba);
    border-radius: 5px;
    border: -2px solid transparent;

    & * {
        opacity: 1;
    }

    & p {
        font-size: small;
        margin: 0;
    }

    & hr {
        opacity: 0.25;
    }

    & *:not(hr) {
        padding: 0 0.25rem;
    }
}

.notable {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--project-border);
    color: var(--background-color);
    font-style: italic;
    border-bottom-left-radius: 5px;
}

.notable-border {
    box-sizing: border-box;
    border: 2px solid var(--project-border);
    border-radius: 5px;
}

ul.tech-list {
    margin: 0;
    padding: 0;

    & .tech-item {
        font-size: small;
        padding: 0;
        font-style: italic;
        margin: 0;
        padding: 0;
        display: inline;
        background-color: rgba(0, 0, 0, 0);
        color: var(--tech-color);
    }
}

ul.tags {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;

    & li {
        display: inline;
    }

    & .post-count {
        opacity: 0.25;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1rem;
    }
}

.post-header {
    text-align: center;
}

button#lsw {
    float: right;
}

html {
    background-color: var(--background-color);
}

body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;

    color: var(--text-color);
}

main {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem 1rem;

    & p,
    small,
    ul.tech-skills,
    h3,
    h4,
    h5,
    h6 {
        padding: 0 0 0 0.5rem;
    }
}

a {
    color: var(--accent-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

hr {
    border-style: dashed;
    color: var(--text-color);
}

footer {
    text-align: center;
}

ol {
    margin: 0 1rem;
}

p {
    font-size: 15px;
}

:not(pre) > code {
    border-radius: 5px;
    padding: 2px 4px;
    color: var(--inline-code);
    background-color: var(--inline-code-bg);
}

pre {
    padding: 0.5rem;
    border-radius: 5px;
    overflow: auto;
    white-space: nowrap;
}

h1,
h2 {
    color: var(--accent-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
small {
    text-align: center;
}

sup {
    position: absolute;
    color: var(--text-color);
    font-size: small;
    opacity: 0.5;
}

h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

img {
    max-width: 80%;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 1rem auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid var(--text-color);
    padding: 8px;
    text-align: left;
}

tr:nth-child(even),
th {
    background-color: rgba(0, 0, 0, 0.25);
}
