<!doctype html>
<html lang="{{ .Site.LanguageCode }}" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/skills.css" />
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/menu.css" />
        <link rel="stylesheet" href="/css/code.css" />
    </head>

    <body>
        {{ $currentPage := .Name }}
        <nav>
            <ul class="menu" style="margin: 0">
                [ {{- $links := .Site.Menus.main -}} {{ range $index, $link :=
                $links }} {{ if ne $index 0 }} | {{ end }}
                <li>
                    <a
                        class="{{ if eq $currentPage $link.Name }}is-active{{end}}"
                        href="{{ $link.URL }}"
                    >
                        {{ $link.Name }}
                    </a>
                </li>
                {{ end }} ]
            </ul>
            <hr />
        </nav>
    </body>
</html>
