{{ $onlyNotable := .Get "onlyNotable" }}
<ul
    class="projects"
    style="display: flex; flex-wrap: wrap; justify-content: space-around"
>
    {{ $pages := where .Site.RegularPages "Section" "projects" }} {{ range
    (where $pages "Section" "!=" "").ByWeight }} {{ if .Params.notable }}
    <li
        class="project {{ if .Params.notable }}notable-border{{end}}"
        data-tags="{{ .Params.tags | jsonify }}"
        style="max-width: 325px; min-width: 325px"
    >
        {{ if .Params.notable }}
        <div class="notable">
            <small title="Projects that I think show my skills">notable</small>
        </div>
        {{end}}
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        <span class="project-type">[{{ delimit .Params.tags ", " }}]</span>
        <hr />
        <p>{{ .Params.description }}</p>
        <ul class="tech-list">
            {{ range .Params.tech }}
            <li class="tech-item">
                {{ . }}<!--</li>-->
                {{end}}
            </li>
        </ul>
    </li>
    {{ end }} {{ end }}
</ul>
